replicaCount: 2

image:
  repository: aubhon/muffin-currency
  tag: "1.1.2"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8083
  targetPort: 8080

containerPort: 8080

env:
  ZIPKIN_ENDPOINT: http://tempo.monitoring.svc.cluster.local:9411/api/v2/spans

probes:
  liveness:
    path: /healthz
    initialDelaySeconds: 5
    periodSeconds: 10
  readiness:
    path: /readyz
    initialDelaySeconds: 2
    periodSeconds: 5
