helmDefaults:
  diffArgs:
    - --disable-validation

repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: grafana
    url: https://grafana.github.io/helm-charts

releases:
  - name: prometheus-operator-crds
    namespace: monitoring
    chart: prometheus-community/prometheus-operator-crds
    version: 26.0.0

  - name: kube-prometheus-stack
    namespace: monitoring
    createNamespace: true
    chart: prometheus-community/kube-prometheus-stack
    version: 56.6.2
    needs:
      - monitoring/prometheus-operator-crds
    values:
      - ./charts/kube-prometheus-stack/values.yaml

  - name: loki-stack
    namespace: monitoring
    chart: grafana/loki-stack
    version: 2.10.2
    values:
      - ./charts/loki-stack/values.yaml

  - name: tempo
    namespace: monitoring
    chart: grafana/tempo
    version: 1.10.1
    values:
      - ./charts/tempo/values.yaml

  - name: grafana-dashboards
    namespace: monitoring
    chart: ./charts/grafana-dashboards
    needs:
      - monitoring/kube-prometheus-stack

  - name: muffin-currency
    namespace: default
    chart: ./charts/muffin-currency
    needs:
      - monitoring/tempo
    values:
      - ./charts/muffin-currency/values.yaml

  - name: muffin-wallet
    namespace: default
    chart: ./charts/muffin-wallet
    needs:
      - monitoring/kube-prometheus-stack
      - monitoring/loki-stack
      - monitoring/tempo
    values:
      - ./charts/muffin-wallet/values.yaml
