apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
data:
  application.yaml: |
    server:
      port: {{ .Values.applicationConfig.server.port }}
    spring:
      datasource:
        url: {{ .Values.applicationConfig.spring.datasource.url }}
        username: {{ .Values.applicationConfig.spring.datasource.username }}
    currency:
      service:
        url: {{ .Values.applicationConfig.currencyService.url }}
    management:
      endpoints:
        web:
          exposure:
            include: health, info, prometheus
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
      metrics:
        distribution:
          percentiles-histogram:
            http.server.requests: true
          slo:
            http.server.requests: 10ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s
