apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
data:
  application.yaml: |
    server:
      port: {{ .Values.applicationConfig.server.port }}
    spring:
      application:
        name: muffin-wallet
      datasource:
        url: {{ .Values.applicationConfig.spring.datasource.url }}
        username: {{ .Values.applicationConfig.spring.datasource.username }}
    muffin:
      currency:
        url: {{ .Values.applicationConfig.currencyService.url }}
    management:
      endpoints:
        web:
          exposure:
            include: health, info, prometheus
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
      tracing:
        sampling:
          probability: 1.0
      zipkin:
        tracing:
          endpoint: ${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}
      metrics:
        distribution:
          percentiles-histogram:
            http.server.requests: true
          slo:
            http.server.requests: 10ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s
